<div class="container-fluid mt-3 ms-2">

    <p class="fw-bold fs-3">Places</p>

    <br>
    
      <p>
        <a href="/places/new" class="btn btn-outline-dark fw-bold fs-5">New Place</a>
      </p>

    <br>

      <% for place in @places %>
        <a href="/places/<%= place["id"] %>" class="fw-bold fs-4" ><%= place["name"] %></a><br>
      <% end %>
        
</div>