<div class="container-fluid mt-3 ms-2">
    
        <p class="fw-bold fs-3">New Place</p>


        <%= form_with :model => @place do |form| %>
          
          <p>
            <%= form.label "name" %>
            <%= form.text_field "name" %>
          </p>

          <p>
            <%= form.submit "Add Place", class: "btn btn-outline-dark fw-bold" %>
          </p>

        <% end %>
</div>